// BASE //
@import "./base/responsive.scss";
@import './base/mixins.scss';

// Écrans APP //
@import "./screens/Home.scss";

// Composants APP //
@import './components/Navbar.scss';
@import './components/ContactBar.scss';
@import './components/Skills.scss';
@import './components/Footer.scss';
@import './components/ProjectList.scss';
@import './components/ProjectCard.scss';
@import './components/About.scss';
@import './components/Contact.scss';
@import './components/Leaflet.scss';



// font //
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
  }

@font-face {
    font-family: "MontSerrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
    }

@font-face {
  font-family:"RobotoSlab";
  src: url("../fonts/RobotoSlab-VariableFont_wght.ttf");
  }

:root { --orange:#FF4500;
       
        
}

// Global ///////////////
*,
::after,
::before {
  box-sizing: border-box;
  user-select: none;
  list-style: none;
  

  
  a {
    text-decoration: none;
  }
 .active {
  color:red;
 }
}
h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}
body {
  font-family:'OpenSans', 'RobotoSlab',  'Montserrat';
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
  button {
    cursor: pointer;
  }

