.contact {
min-height: 80vh;
padding: 80px 120px;
display: flex;
@include mobiletablet {
  flex-direction: column;
}
.contact-left {
 width: 50%;
  
}
.contact-right {
 width: 50%;
 padding-top: 40px;
}

.contact-left> :first-child {
  justify-content: center;
  text-align: center;
  color: var(--black);
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

  .contact-img {
    margin-top: 10vh;
    object-fit: cover;
    width: 90%;
    opacity: 80%;
    @include mobiletablet {
      display: none;
    }
  
  }
}
.contact-right {
 width: 50%;


}

.contact-right>form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 70%;
  
}

.contact-right .user {
  width: 100%;
  height: 100%;
  padding: 0.3em;
  outline: none;
  border: 2px solid rgb(0, 170, 255);
  border-radius: 8px;
  font-size: 16px;
  
}

.button-contact {
  cursor: pointer;
  border: 1px solid rgb(0, 170, 255);
}

textarea {
  height: 30vh!important;
}
.button-contact {
  border: 2px solid rgb(0, 170, 255);
  height: 4vh;
  width: 4vw;
}

@include mobiletablet {
  .contact-form {
    padding: 40px;
    flex-direction: column;
    gap: 2rem;
    
  }

  .contact-in> :first-child {
    font-size: 2rem;
  }

  .c-right .user {
    width: 16rem;
  }

  .contactMe {
    font-size: 1.5rem !important;
    margin-left: 3rem;
  }
}
