.contact {
  padding: 100px 20vw 180px 20vw;
  background-color: $black;
  span {
    color: green;
  }
  @include tablet {
    padding: 80px 40px;
    
  }
  @include mobile {
    padding: 60px 10px;
  
  }
  @include laptop {
    padding: 100px 0;
  }

  
  h1 {
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 40px;
    color: $white;
    @include laptop {
      font-size: 36px;
    }
  
    @include tablet {
      font-size: 32px;
    }
  
    @include mobile {
      font-size: 28px;
    }
  }
  
  .contact-in {
    height: 700px;
    display: flex;
    justify-content: space-between;
    background-color: $white;
    border-radius: 10px;

   
    @include mobiletablet {
      flex-direction: column;
      height: auto;
      
    }
  }
  .contact-left {
   width: 40%;
   @include mobiletablet {
    width: 100%;
  }
  }
  .contact-right {
   display: flex;
   flex: 60%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   @include mobiletablet {
   width: 100%;
  }
  
  }
  
  .contact-right>form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;
   
    
  }
  
  .contact-right .user {
    width: 95%;
    height: 40px;
    padding: 0.2em;
    outline: none;
    font-size: 16px;
    @include mobile {
      width: 99%;
    }
    
  }
  textarea {
    height: 30vh!important;
  }
 
  }