.nav-mobile-c {
  position: fixed;
  display: none;
  bottom: 0;
  z-index: 60;
  right: 10px;
  bottom: 10px;
  gap: 10px;
  @include mobile {
    display: flex;
  }

  .burger-c {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    z-index: 61;
    padding-top: 4px;
    cursor: pointer;

    .burger {
      z-index: 61;
    }
  }

  .arrow-up-c {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    z-index: 61;
    cursor: pointer;

    .arrow-up {
      z-index: 61;
    }
  }
}

.burger-menu {
  position: fixed;
  display: none;
  justify-content: space-evenly;
  padding-right: 15vw;
  font-family: "OpenSans";
  text-transform: uppercase;
  background: $black;
  bottom: 0;
  padding-right: 100px;
  z-index: 59;
  width: 110%;
  margin-left: -10px;
  @include mobile {
    display: flex;
    position: fixed;
  }
  ul {
    margin: 0;
  }

  li {
    margin: 20px;
  }

  a {
    display: block;
    padding: 0px 0px;
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  a:hover {
    color: $blue;
  }
}

.hidden {
  display: none;;
}