.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  min-height: 1000px;
  background-color: rgb(240, 240, 240, 0.5);

  .map {
    object-fit: cover;
    z-index: -2;
    height: 75%;
    opacity: 0.3;
    position: absolute;
    filter: saturate(0);
  }

  .skills-h1 {
    font-family: 'Montserrat';
    text-align: center;
    font-size: 40px;
    color: var(--black);
    font-weight: 900;
    @include laptop {
      font-size: 36px;
    }
    @include tablet{
      font-size: 32px;
    }
    @include mobile {
      font-size: 28px;
    }

  }

  .skills-in {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: auto;

    @include laptop {
      width: 100%;
    }
    @include mobiletablet {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
   
    h3 {
      font-size: 24px;
      font-weight: 600;
      color: var(--black)
    }

    .languagesFrameworks {
      font-family: 'RobotoSlab';
      width: 60%;

      @include mobiletablet {
        width: 100%;
      }

      .years {
        font-size: 16px;
        display: flex;
        // justify-content: space-between;


        span {
          width: 50%;


          &:nth-child(2) {
            text-align: center;
            width: 50%;

          }

          &:nth-child(3) {
            text-align: right;
            width: 50%;

          }

          &:nth-child(2):before,
          &:nth-child(3):before {
            content: '';
            background: rgba(0, 0, 0, 0.2);
            position: absolute;
            height: 368px;
            width: 1px;
            transform: translate(9px, 19px);

          }
        }
      }

      .languagesList {

        li {
          color: white;
          margin-top: 20px;
          position: relative;
          top: 20px;
          z-index: 1;
          margin-left: 2px;
          width: 95.5%;
          background-color: rgba(180, 179, 179, 0.507);

        }

        .progressBar {
          height: 20px;
          position: relative;

          &:before {
            background: black;
          }

          &:after {
            content: '';
            position: absolute;
            background: green;
            height: 20px;
            width: 0;
            animation: line 2s ease-out forwards;

            @keyframes line {
              to {
                width: 99%;
              }
            }
          }
        }
      }
    }

    .otherSkills {
      font-family: 'RobotoSlab';
      display: flex;
      flex-direction: column;
      color: var(--black);
@include mobiletablet {
  justify-content: center;
  align-items: center;
  margin:0 -90px;
}
      h3 {
        font-weight: bolder;
        color: var(--black);
        margin-bottom: 28px;

        @include mobiletablet {
          margin-top: 60px;
          text-align: center;
          margin-bottom: 32px;
         
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-wrap: wrap;
        @include tablet {
          width: 100%;
          flex-direction: row;
        }
        @include mobile {
          width: 100%;
          flex-direction: row;
          gap: 10px;
        }

        li {
          display: flex;
          align-content: center;
       
        
        }

        i {
          display: flex;
          align-content: center;
          margin-right: 10px;
        }
      }
    }
  }
}